          <h2>Tuesday, August 6, 2013</h2>
          <p> 3:30pm-4:30pm (refreshments at 3:15pm) <br />
          Bechtel Collaboratory in the Discovery Learning Center (DLC) <br />
          University of Colorado at Boulder</p>
          <a href="http://boulderfluidsseminar.org" title="Add to Calendar" class="addthisevent">
            Add to Calendar
            <span class="_start">08/6/2013 3:30:00 PM</span>
            <span class="_end">08/6/2013 4:30:00 PM</span>
            <span class="_zonecode">9</span>
            <span class="_summary">Boulder Fluid Dynamics Seminar Series</span>
            <span class="_location">Discovery Learning Center, University of Colorado, Boulder</span>
            <span class="_date_format">MM/DD/YYYY</span>
          </a>


          <div class="page-header"></div>
          <h3><a href="">Andrew Lofthouse</a> <small>US Air Force Academy</small></h3>
          <p>More information to come!</p>
          
          <div class="page-header"></div>
          <h3><a href="http://www.sincem.unibo.it/">Nadia Pinardi</a> <small>Universita di Bologna</small></h3>
          <p>More information to come!</p>


