          <h2>Tuesday, July 9, 2013</h2>
          <p><a href="/attachments/BoulderFluidsSeminar_July9_2013.pdf"><i class="icon-download"></i> download announcement</a></p>
          <p> 3:30pm-4:30pm (refreshments at 3:15pm) <br />
          Bechtel Collaboratory in the Discovery Learning Center (DLC) <br />
          University of Colorado at Boulder</p>
          <a href="http://boulderfluidsseminar.org" title="Add to Calendar" class="addthisevent">
            Add to Calendar
            <span class="_start">07/09/2013 3:30:00 PM</span>
            <span class="_end">07/09/2013 4:30:00 PM</span>
            <span class="_zonecode">9</span>
            <span class="_summary">Boulder Fluid Dynamics Seminar Series</span>
            <span class="_location">Discovery Learning Center, University of Colorado, Boulder</span>
            <span class="_date_format">MM/DD/YYYY</span>
          </a>


          <div class="page-header"></div>

          <h2 style="color: #1e497d;">Wave Energy in the United States and Numerical Modeling of Wave Energy Conversion Devices</h2>
          <h3><a href="#">Michael Lawson</a> <small>Wind and Water Power Program, National Renewable Energy Laboratory</small></h3>

          <p><a href="/attachments/july-9-2013/lawson2013.pdf"><button class="btn btn-success">Download Presentation (pdf)</button></a></p>

          <p>Recent resource assessment studies indicate that the technically recoverable US wave energy resource is 1400 TW-hr/year, which equals approximately 35% of 2011 US electricity generation. This finding has renewed commercial and governmental interest in WEC technologies and indicates that wave energy could play a significant role in the US renewable energy portfolio in the years to come. Nevertheless, despite decades of research and development, wave energy converters (WECs) are not yet a commercially viable renewable energy generation technology.</p>
          <p>In this talk I will first review the current generation of WEC technologies and will describe the challenges that need to be overcome for WECs to achieve commercial viability. Next, I will describe NREL's ongoing efforts to develop numerical modeling tools to assist in the wave energy converter design process. Specifically, I will discuss our efforts to develop a reduced-order design optimization tool that models WEC devices by coupling time-domain multi-body dynamics simulations with potential flow hydrodynamics models. Finally, I will discuss NREL’s plans to use smooth particle hydrodynamics (SPH) simulation methods to enable high fidelity predictions of wave slamming and overtopping loads from large waves during ocean storms.</p>

          <div class="page-header"></div>
          
          <h2 style="color: #1e497d;">Planetary Fluid Mechanics in the Lab</h2>
          <h3><a href="http://www.danzimmerman.com/">Dan Zimmerman</a> <small>Nonlinear Dynamics Lab, University of Maryland, College Park</small></h3>
          <p><a href="/attachments/july-9-2013/zimmerman2013.pdf"><button class="btn btn-success">Download Presentation (pdf)</button></a> or <a href="http://sodium.umd.edu/axltalks/Boulder2013.html#/">view the slides at sodium.umd.edu</a></p>
          
          <p>To understand the origin and dynamics of planetary magnetic fields, we need to understand the turbulent flow of the huge oceans of rotating, magnetized, low viscosity liquid metal that make up planets’ cores. The extreme Reynolds number, rapid rotation, and strong magnetic fields make planetary core turbulence impossible to fully understand with direct numerical simulation or laboratory experiments. We have constructed an enormous experimental magnetohydrodynamic flow facility at the University of Maryland to push further toward planetary parameters than ever before. I will present new results regarding turbulent state transitions, angular momentum transport, internal magnetic induction, and the effects of strong externally applied magnetic field in the turbulent flow of 13 tons of liquid sodium metal in a three meter diameter, rapidly rotating spherical Couette apparatus. We hope that these and future results can join the next generation of planetary core simulations to deepen our understanding of the fluid flow and magnetic field generation processes in planets.</p>

