
          <h2>Tuesday, June 25, 2013</h2>
          <p><a href="/attachments/BoulderFluidsSeminar_June25_2013.pdf"><i class="icon-download"></i> download announcement</a></p>
          <p> 3:30pm-4:30pm (refreshments at 3:15pm) <br />
          Bechtel Collaboratory in the Discovery Learning Center (DLC) <br />
          University of Colorado at Boulder</p>
          <a href="http://boulderfluidsseminar.org" title="Add to Calendar" class="addthisevent">
            Add to Calendar
            <span class="_start">06/25/2013 3:30:00 PM</span>
            <span class="_end">06/25/2013 4:30:00 PM</span>
            <span class="_zonecode">9</span>
            <span class="_summary">Boulder Fluid Dynamics Seminar Series</span>
            <span class="_location">Discovery Learning Center, University of Colorado, Boulder</span>
            <span class="_date_format">MM/DD/YYYY</span>
          </a>

          <div class="page-header"></div>
          <h2 style="color: #1e497d;">Surface waves in turbulent and laminar submesoscale flow</h2>

          <h3><a href="http://brown.edu/Departments/Geology/people/facultypage.php?id=1357147733">Baylor Fox-Kemper</a> <small>Geological Sciences Department, Brown University</small></h3>

          <p><a href="/attachments/june-25-2013/foxkemper2013.pdf"><button class="btn btn-success">Download Presentation (pdf)</button></a></p>

          <p>Surface gravity waves--wind waves and swell--can affect the upper ocean in a number of ways. The Craik-Leibovich Boussinesq (CLB) equations are an asymptotic approximation to the fluid equations that filter out the processes leading to surface gravity and sound waves, but preserve the Stokes drift coupling between surface gravity waves and flow. The CLB equations are amenable to Large Eddy Simulations of Langmuir (wave-driven) Turbulence and analysis. I will present recent work with my colleagues studying the effects of Stokes drift in the CLB equations. Surprising and unsurprising results for laminar flow balances, turbulent fluxes, and coupling between turbulence and submesoscale flow will be discussed. Important remaining questions will be highlighted.</p>

          <div class="page-header"></div>
          <h2 style="color: #1e497d;">Interactions between isolated scalars in turbulent flows</h2>

          <h3><a href="http://www.mikesoltys.com/">Mike Soltys</a>
          <small>Environmental Fluid Mechanics Laboratory (John Crimaldi group),
          University of Colorado at Boulder</small></h3>

          <p><a href="/attachments/june-25-2013/soltys2013.pdf"><button class="btn btn-success">Download Presentation (pdf)</button></a></p>

          <p>A two-channel PLIF technique is described that allows multiple scalars to be measured simultaneously and independently from each other. The system is used to measure scalars emitted from parallel round jets. The resulting data of the scalar fields gives insight into how the two scalars evolve and eventually coalesce in the turbulent field. These results are useful in understanding the physics of both reactive and non-reactive mixing in a wide variety of flows.</p>


