<h1>TESLA Team @ CU</h1>

<div class="media">
  <a class="pull-left" href="/peter-hamlington">
    <img class="media-object" data-src="holder.js/160x160">
  </a>
  <div class="media-body">
    <h3 class="media-heading"><a href="/Peter-Hamlington">Peter Hamlington</a></h3>
    <h4>Assistant Professor / Fearless Leader</h4>
    <p>This is a short bio</p>

  </div>
</div>

<div class="media">
  <a class="pull-left" href="/Prateek-Shrestha">
    <img class="media-object" data-src="holder.js/160x160">
  </a>
  <div class="media-body">
    <h3 class="media-heading"><a href="/Prateek-Shresth">Prateek Shrestha</a></h3>

  </div>
</div>

<div class="media">
  <a class="pull-left" href="/Ryan-King">
    <img class="media-object" src="/images/team/ryan-king.png">
  </a>
  <div class="media-body">
    <h3 class="media-heading"><a href="/Ryan-King">Ryan King</a></h3>
    <p>Ryan is studying the interaction between atmospheric boundary layer turbulence and wind turbine loads.  After graduating from MIT in 2009 with a B.S. in Mechanical Engineering he worked as an engineer for a wind farm developer in Colorado where he was involved in the flow modeling and construction of over 750MW of now operational wind energy.  In 2012 Ryan joined the Wind Energy Systems Engineering Group at the National Renewable Energy Lab (NREL) where he works on drivetrain modeling.  At CU, Ryan’s research is on Large Eddy Simulations of wind turbines in realistic atmospheric boundary layers.  In his spare time Ryan enjoys making rash decisions about endurance races.  He also owns the largest collection of puffy jackets and flannels in the group.</p>
  </div>
</div>

<div class="media">
  <a class="pull-left" href="/Spencer-Alexander">
    <img class="media-object" data-src="holder.js/160x160">
  </a>
  <div class="media-body">
    <h3 class="media-heading"><a href="/Spencer-Alexander">Spencer Alexander</a></h3>
    <p>This is a short bio</p>
  </div>
</div>
