<h1>TESLA Team @ CU</h1>

<div class="media">
  <a class="pull-left" href="/projects/ocean-energy">
    <img class="media-object" src="/images/project-ocean-turbine.png">
  </a>
  <div class="media-body">
    <h3 class="media-heading"><a href="/projects/ocean-energy">Ocean Energy</a></h3>
    <h4>Large-Eddy Simulation of Ocean Current Turbines in the Presence of Realistic Ocean Turbulence</h4>
    <p>As ocean current turbines move from the design stage into production and installation, a better understanding of both oceanic turbulent flows and localized loading is needed by researchers and members of industry. In this study, an ocean current turbine is simulated for a variety of realistic ocean turbulence environments using the National Center for Atmospheric Research (NCAR) Large Eddy Simulation (LES) model. The ocean current turbine is represented in this model by an actuator disk and flow characteristics are measured at the turbine as well as in the turbine wake. Turbulent inflow conditions are generated using two methods: (i) a precursor simulation where the NCAR LES model is run without the ocean turbine present and (ii) a synthetic turbulent flow generator adapted for the ocean from the National Wind Technology Center TurbSim tool. In both cases, the inflow and boundary conditions will be designed to represent conditions during an observational campaign at Admiralty Inlet in Puget Sound; comparisons will be made between the simulation results and available measurements. Significant results from this study will be discussed, including the effects of cyclic gravity waves on turbine stresses, statistical comparison of the two inflow generation methods, examination of turbulent mixing in the turbine wake, and analysis of turbine loading. Future areas of research are identified, including incorporation of more complex boundaries, improvements to the ocean synthetic turbulence generator, and representation of the turbines using actuator lines.</p>

  </div>
</div>

<div class="media">
  <a class="pull-left" href="/projects/ocean-energy">
    <img class="media-object" src="/images/project-ocean-turbine.png">
  </a>
  <div class="media-body">
    <h3 class="media-heading"><a href="/projects/ocean-energy">Replace Me!</a></h3>
    <h4>Large-Eddy Simulation of Ocean Current Turbines in the Presence of Realistic Ocean Turbulence</h4>
    <p>As ocean current turbines move from the design stage into production and installation, a better understanding of both oceanic turbulent flows and localized loading is needed by researchers and members of industry. In this study, an ocean current turbine is simulated for a variety of realistic ocean turbulence environments using the National Center for Atmospheric Research (NCAR) Large Eddy Simulation (LES) model. The ocean current turbine is represented in this model by an actuator disk and flow characteristics are measured at the turbine as well as in the turbine wake. Turbulent inflow conditions are generated using two methods: (i) a precursor simulation where the NCAR LES model is run without the ocean turbine present and (ii) a synthetic turbulent flow generator adapted for the ocean from the National Wind Technology Center TurbSim tool. In both cases, the inflow and boundary conditions will be designed to represent conditions during an observational campaign at Admiralty Inlet in Puget Sound; comparisons will be made between the simulation results and available measurements. Significant results from this study will be discussed, including the effects of cyclic gravity waves on turbine stresses, statistical comparison of the two inflow generation methods, examination of turbulent mixing in the turbine wake, and analysis of turbine loading. Future areas of research are identified, including incorporation of more complex boundaries, improvements to the ocean synthetic turbulence generator, and representation of the turbines using actuator lines.</p>

  </div>
</div>
